.top-banner {
	text-align: center;
	font-family: 'Monoton', cursive;
	background-color:#FE642E;
}
/*==================*/
/* GAME CONTENT AREA*/
/*==================*/
#scrub-quiz {
}
#scrub-header {
	text-align: center;
	background-color: #76c4db;
}
.startBtnStyle {

}

.hideQuiz {
	display: none;
}

#scrub-questions {
	/* display: none;	 */
	
}
.question-box {
	border: 2px solid #777;
	float: left;
	padding: 5%;
	margin-top:5%;
	border-radius: 3%;
}
.question-img {
	padding: 5%;
	width:350px;
	height: 300px;
}
